.resources__logo {
  transition: linear 0.2s;
  height: 38px;
  /* Я намеренно не задавал ширину логотипу, задав ее resources__link, т.к. пустое место вокруг картинки тоже становится частью ссылки, думаю что это функционально не является хорошим тоном */
  width: 270px;
}

.resources__logo:hover {
  opacity: 70%;
}
